#main-container {
	display: grid;
    width: 800px;
    height: 800px;
    grid-template-columns: repeat(20, 1fr);
    grid-column-gap: 0px;
    grid-template-rows: repeat(20, 1fr);
}

.cell {
	border: 1px solid black;
	background-size: contain;
}

.brush {
	height: 30px;
    width: 30px;
    background-size: contain;
}

.brush.selected {
	border: 2px solid blue;
}
.brush.disabled {
	background-color: rgb(255 255 255 / 80%);
	background-blend-mode: hue;
}

#brushes {
	display: flex;
}

#brushes.disabled {
	display: none;
}

#game-desc {
	font-size: 22px;
	font-weight: bold;
}

#brush-desc.disabled {
	display: none;
}

/* Arrows */
#arrows span {
	$outline: #cccccc; 
	font-family: sans-serif;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
    position: relative;
	padding-bottom: 3px;
    width: 48px;
    height: 45px;
    border-radius: 5px;
    background-color: #fff;
    color: #444;
	border-top: 1px solid $outline;
	box-shadow: 0px 3px 0px 2px $outline;
}

section {
	$cell-length: 56px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	place-items: center;
	grid-gap: 1px;
	width: calc(#{$cell-length} * 3);
	height: calc(#{$cell-length} * 2);
}

section ~ section {
	margin-top: 50px;
}

section > span:nth-child(1) {
	grid-column: 2;
	grid-row: 1;
}


section > span:nth-child(2) {
	grid-column: 1;
	grid-row: 2;
}


section > span:nth-child(3) {
	grid-column: 2;
	grid-row: 2;
}


section > span:nth-child(4) {
	grid-column: 3;
	grid-row: 2;
}
