#main-container {
	display: grid;
    width: 800px;
    height: 800px;
    grid-template-columns: repeat(20, 1fr);
    grid-column-gap: 0px;
    grid-template-rows: repeat(20, 1fr);
}

.cell {
	border: 1px solid black;
	background-size: contain;
}

.brush {
	height: 30px;
    width: 30px;
    background-size: contain;
}

.brush.selected {
	border: 2px solid blue;
}
.brush.disabled {
	background-color: rgb(255 255 255 / 80%);
	background-blend-mode: hue;
}

#brushes {
	display: flex;
}

#brushes.disabled {
	display: none;
}